@import url('font.001.css');

/* -------------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    overflow-y:scroll;
}
body {
    padding-top: 100px;
    background-color: white;
}
.container {
    width: 100%;
    max-width: 960px;
    margin-top:auto;
}
h3 {
   color: #BD9319;
}
a {
    color: #0275d8;
    text-decoration: none;
}
a:hover {
    color: #0275d8;
    text-decoration: underline;
}

td.uh-pre {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}
.uh-branding-one {
    font-family: cinzel-regular, serif;
    font-size: 1.6em;
    font-style: normal;
    letter-spacing: 2.2px;
    color: #777;
}
.uh-branding-two {
    font-family: cormorant-upright-regular, cursive;
    font-size: 0.8em;
    font-style: normal;
    color: #777;
}
.navbar {
    background-color: white;
}
.navbar-fixed-top .nav {
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 20px;
    background-color: transparent;
}
.navbar-fixed-top .navbar-brand {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 50px;
    min-width: 50px;
}
.navbar-fixed-top .navbar-brand > img {
    height: 50px;
    width: 50px;
    background-color: transparent;
}
.navbar-brand.uh-nav-app-name {
    height: 30px;
    width: auto;
    padding-left: 15px;
    padding-top: 25px;
    color: #BD9319;
    background-color: transparent;

    font-family: alegreyasans-regular, opensans-regular, serif;
    font-weight: normal;
    font-size: 20px;
}
.navbar-brand.uh-nav-app-name-smaller{
    height: 30px;
    width: auto;
    padding-left: 15px;
    padding-top: 30px;
    color: #BD9319;
    background-color: transparent;

    font-family: alegreyasans-regular, opensans-regular, serif;
    font-weight: normal;
    font-size: 25px;
}
.navbar-brand.uh-nav-app-name:hover {
    color: #b08a17;
}
.dropshadow {
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: white;
}
.amp {
    font-family: alice-regular, alegreyasans-regular, opensans-regular, serif;
    font-weight: normal;
    font-size: 90%;
}
.footer {
    position: absolute;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 100%;
    text-align: center;
}
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}
.container .jumbotron.compacted,
.container-fluid .jumbotron.compacted {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container .jumbotron.semi-compacted,
.container-fluid .jumbotron.semi-compacted {
    padding-top: 20px;
    padding-bottom: 20px;
}

#maintab.panel {
    border-color:  #185182;;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#maintab.panel.maintab-subpanel > .panel-heading {
    background-color: #185182;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.nav-tabs.nav-justified > li > a {
    color: #777;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
    background-color: #185182;
    color: white;
    border-bottom-color: #185182;
    border-left-color: #185182;
    border-right-color: #185182;
}


.panel-heading .panel-title.app-types {
    text-align: left;
    vertical-align: text-bottom;
    margin-top: 6px;
    font-weight: bold;
}
.lead.lead-medium {
    font-size: 16px;
}
.marketing {
    margin: 40px 0;
}
.marketing div p.h4 {
    margin-bottom: 5px;
}
.marketing div p.h5 {
    margin-bottom: 5px;
    font-size: 1em;
}

.no-margin-padding {
    padding-left: 0;
    padding-right: 0;
}
input.form-control.full-width {
    width: 100%;
}
button.redify-link {
    color: red
}
.glyphicon.app-color {
    color: #337ab7;
}
.pinkify {
    background-color: pink;
}
.goldify {
    background-color: gold;
}
.aquafy {
    background-color: aqua;
}
.yellowify {
    background-color: #ffff66;
}

.background-transparent {
    background-color: transparent !important;
}

.panel-heading a:after {
    color: white;
    background-color: white;
}
.panel-heading a.collapsed:after {
    color: white;
    background-color: white;
}

.glyphicon.glyphicon-question-sign {
    font-size: 17px;
}

.panel-title a {
    color: white;
    text-decoration: none;
}
.panel-title a:hover {
    color: white;
    text-decoration: none;
}

/* ------------------------ */
/* Application CSS          */

#application-form {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 10px;
}
#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  padding-top: 43px;
  float: left;
  height:auto;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  float: left;
  /* margin-top: 20px;*/
  margin-top: 0px;
  padding-top: 0px;
  width: 700px;
}
#shadow {
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #185182;
}

#append {
    width: 80%;
    padding: 2px;
    margin: .5em;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
    text-decoration: none;
    color: #FFF !important;
    background-color: transparent !important;
    border-bottom-color: #FFF;
    -webkit-transition: border-bottom-color .5s ease;
    -moz-transition: border-bottom-color .5s ease;
    -o-transition: border-bottom-color .5s ease;
    -ms-transition: border-bottom-color .5s ease;
    transition: border-bottom-color .5s ease;
}
.nav-pills > li > a{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-radius:0px;
    font-size: 1em;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
}
.absolute-bottom {
    position: absolute;
    bottom: 100px;
}
.background-color {
    background-color: #f2f2f2;
}
.table>thead>tr>th {
    border-bottom: none;
}

/* ---- Sortable CSS ---
   ---- http://johnny.github.io/jquery-sortable/
*/
body.dragging, body.dragging * {
    cursor: move !important;
}
.dragged {
    position: absolute;
    left: 30px;
    opacity: 0.5;
    z-index: 2000;
    cursor: pointer;
}
ol.example li.placeholder {
    position: relative;
    cursor: pointer !important;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    cursor: pointer !important;
    /** Define arrowhead **/
}

/* ------------------------ */
/* For the guidelines page. */

.anchor-offset:before {
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}
.btn-wrappable {
    white-space: normal;
    text-align: left;
}
.back-to-top {
    display: inline-block;
    clear: both;
    background: #fff;
    color: #333;
    padding: 0 10px 5px;
    margin: 0px 0 0;
    text-shadow: none;
    text-decoration: none;
}
.back-to-top:hover {
    background: #cccccc;
    color: #fff;
    text-decoration: none;
}
.back-to-top a {
    text-decoration: none;
}

td.break-all-wrapping {
    word-break: break-all;
    overflow-wrap: break-all;
}

.ellipsis {
    width: 151px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* Styles when browser width is greater than this value. */
@media(min-width: 1200px) {
    .container {
        width: 992px;
        /* background-color: yellow; */
    }
}
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* Styles when browser width is GREATER than this value. */
@media(min-width:768px) {
    body {
        padding-bottom: 50px;
    }
    .container {
        /* background-color: aqua; */
    }
    .navbar {
        min-height: 90px;
    }
    .navbar-fixed-top .navbar-brand > img {
        position: inherit;
        top: 0px;
        left: 25px;
        height: 90px;
        width: 90px;
        background-color: transparent;
    }
    .navbar-brand.uh-nav-app-name {
        position: inherit;
        top: 0px;
        left: 115px;
        height: 90px;
        padding-left: 18px;
        padding-top: 35px;
        white-space: nowrap;
        text-align: left;
        font-size: 38px;
        background-color: transparent;
    }
    .uh-branding-one {
        font-size: 1.8em;
    }
    .uh-branding-two {
        font-size: 1.0em;
    }

    .ellipsis {
        width: 240px;
    }
}

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* Styles when browser width is LESS THAN than this value. */
@media(max-width:960px) {
    .container {
        /* background-color: lightgreen; */
    }
    body {
       /*  padding-top: 50px; */
    }

    #sidebar {
        max-width: 100%;
        margin-top: -10px;
    }
    #space {
        margin-left: 0%;
    }
    #main {
        width: 100%;
        margin-top:-10px;
    }
}
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* Styles when browser width is LESS THAN than this value. */
@media(max-width:768px) {
    .container {
        /* background-color: pink; */
    }

    body {
        /* padding-top: 50px; */
        padding-bottom: 50px;
    }
    .uh-branding-one {
        font-size: 1.8em;
    }
    .uh-branding-two {
        font-size: 1.0em;
    }
    .caret {
        float:right;
    }
    .nav-pills > .active > a,
    .nav-pills > .active > a:hover,.nav-pills > li > a:hover {
        text-decoration: none;
        border-radius:0px;
        border-bottom-width: none;
        border-bottom-style: none;
        background-color: transparent !important;
        border-bottom-color: #B3995D;
        padding-bottom: 10px;

    }
    .nav-pills > li > a{
        border-radius:0px;
        font-size: 1em;
        margin: 0px;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #submenu ul li {
        display: block;
        padding: 20px 0px 0px 20px;
        text-align: left;
        height: 50px;
        background-color: #f3f3f3;
    }
    #submenu li {
        display: block;
        padding-top: 10px;
        text-align: left;
        background-color: #f3f3f3;
    }
    #submenu a {
        color: black;
        text-align: center;
        width: 100%;
        padding: 10px 10px 10px 20px;
        margin: 0px;
        text-decoration: none;
        color: #333;
    }
    #submenu ul li.current {
        background-color: aliceblue;
        padding: 15px 15px 0px 4%;
    }
    #submenu {
        background-color: #f3f3f3;
        min-height:210px;
    }
    #space {
        max-width: 100%;
        margin-left: 0%;
        display: block;
    }
    #main {
        width: 100%;
        padding-top: none;
    }
    #application-form {
        padding: 10px;
        margin: 0px;
    }
    #space .nav-tabs > li > a {
        padding-left: 3px;
        padding-right: 3px;
    }
}
/* -------------------------------------------------------- */
.progress-bar.animate {
   width: 100%;
}

.col-form-label {
    padding-right: 0.0em;
}
/* -------------------------------------------------------- */
/* Typeahead (jquery autocomplete)
/* -------------------------------------------------------- */
.ui-autocomplete {
    z-index: 9999;
    border: 1px solid black;
}
.ui-menu-item {
    list-style: none;
    text-align: -webkit-match-parent;
}
.ui-menu-item-wrapper {
    text-align: -webkit-match-parent;
}
.ui-helper-hidden-accessible {
    display: none;
}

/* make sidebar nav vertical */
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }

  html,body{
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
        position:fixed;
        width:100%;
  }
  .affix-sidebar{
    padding-right:0;
    font-size:small;
    padding-left: 0;
  }
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .affix-content{
    background-color:white;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0;
    margin-bottom:0;
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }
  .affix-title{
    border-bottom: 1px solid #ecf0f1;
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }
}

/* make sidebar nav vertical */
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }

  html,body{
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
        width:15%;
  }
  .affix-sidebar{
    padding-right:0;
    font-size:small;
    padding-left: 0;
  }
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .affix-content{
    background-color:white;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0;
    margin-bottom:0;
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}
